@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    margin-left: 390px;
}

.details {
    border-bottom: 1px solid black;
}

.text {
    margin-bottom: 20px;
}

.title {
    margin: 20px 0;
}

ul {
    margin-left: 50px;
}

nav {
    position: fixed;
    top: 0;
    width: 370px;
    background: white;
}

.nav-list {
    overflow-y: scroll;
}

nav .title a {
    border-bottom: 2px solid black;
}

nav a {
    display: block;
    border-bottom: 1px solid black;
    text-decoration: none;
}

.link-nav {
    color: #000000;
    font-size: 1.18rem;
    font-weight: bold;
    padding: 0 20px;
}